<div class="row mt-3">
<div class="offset-4 col-lg-4">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Login</h1>
            <form>
            <div class="mb-3">
                <label for="txtUsername"  class="form-label">Username</label>
                <input type="text" class="form-control" id="txtUsername" autocomplete="off" placeholder="Username">
            </div>
            <div class="mb-3">
                <label for="txtPassword"  class="form-label">Password</label>
                <input type="password" class="form-control"  id="txtPassword" autocomplete="off" placeholder="Password">
            </div>
            <div class="col-lg-3">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
            <div classs="col-lg-3">
            </div>
        </form>
        </div>
    </div>
</div>
</div>